{% import "js_helpers.html.twig" as js %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{current_user.lang}}" lang="{{current_user.lang}}">
<head>
	{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}{{  (page_title|last).title|striptags }} - {% if current_blog.name is not empty %}{{current_blog.name}} - {% endif %}{{vendor_name}} - {{version}}{% endblock %}</title>
	<meta name="ROBOTS" content="NOARCHIVE,NOINDEX,NOFOLLOW" />
	<meta name="GOOGLEBOT" content="NOSNIPPET" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{theme_url}}style/default.css" type="text/css" media="screen" />
	<link rel="icon" type="image/png" href="images/favicon.png" />
	{% if rtl is not empty %}
	<link rel="stylesheet" href="{{theme_url}}style/default-rtl.css" type="text/css" media="screen" />
	{% endif %}
	{{ js.load_IE7 }}
	{{ js.common }}
	{% endblock %}
</head>

<body id="dotclear-admin{% if safe_mode %} safe-mode{% endif %}">
	<div id="header">
		{% block prelude %}
			<ul id="prelude">
				<li><a href="#content">{{__('To content')}}</a></li>
				<li><a href="#main-menu">{{__('To menu')}}</a></li>
			</ul>
		{% endblock %}
		<div id="top"><h1><a href="index.php">{{vendor_name}}</a></h1></div>
		<div id="info-boxes">
			<div id="info-box1">
			  {% form 'switchblog_menu' %}
				
				{% if blog_count > 1 and blog_count < 20 %}
					{{ form_field('switchblog',{},{'labelclass':'classic nomobile'}) }}
					<noscript>{{ form_field('switchblog_submit') }}</noscript>
				{% else %}
					{{__('Blog:')}} <strong title="{{current_blog.url}}">{{current_blog.name}}</strong>
					{% if blogs is not empty %} - <a href="blogs.php">{{__('Change blog')}}</a>{% endif %}
				{% endif %}
				<p class="nomobile"><a href="{{current_blog.url}}" onclick="window.open(this.href);return false;" title="{{__('Go to site')}} ({{__('new window')}})">{{__('Go to site')}} <img src="{{theme_url}}images/outgoing.png" alt="" /></a></p>
			  {% endform %}
			</div>
			<div id="info-box2">
				<a class="smallscreen{%if current_page == 'index' %} active" {% endif %}" href="index.php">{{__('My dashboard')}}</a><span class="smallscreen"> | </span>
				<a class="smallscreen{%if current_page == 'preferences' %} active" {% endif %}" href="preferences.php">{{__('My preferences')}}</a><span class="smallscreen"> | </span>
				<a href="index.php?logout=1" class="logout">{{__('Logout %s')|format(current_user.id)}} <img src="{{theme_url}}images/logout.png" alt="" /></a>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="main">
			<div id="content">
				{% block content %}
				{% if safe_mode %}
					<div class="error"><h3>{{__('Safe mode')}}</h3>
					<p>{{__('You are in safe mode. All plugins have been temporarily disabled. Remind to log out then log in again normally to get back all functionalities')}}</p>
					</div>
				{% endif %}
				<h2>
					{#{%- if not page_global %}{{current_blog.name}} &rsaquo; {% endif %}#}
					{%- for part in page_title %}
						{%- if loop.last %}<span class="page-title">{% endif %}
						{%- if part.link is not empty %}<a href="{{ part.link }}"{% if part.class is not empty %} class="{{part.class}}"{% endif %}>{{ part.title }}</a>{% else %}{{ part.title }}{% endif %}
						{%- if loop.last %}</span>{% else %} {% if loop.index0 == 1 %} : {% else %} &rsaquo; {% endif %}{% endif %}
					{%- endfor -%}
				</h2>
				{% if messages.static is not empty %}
					{% for message in messages.static %}
						<p class="static-msg">{{ message }}</p>
					{% endfor %}
				{% endif %}
				{% if messages.lists is not empty %}
					{% for title,messages in messages.lists %}
						<div class="static-msg">{{ title }}<ul>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
						</ul></div>
					{% endfor %}
				{% endif %}
				{% if messages.alert is not empty %}
					<p class="message">{{ messages.alert }}</p>
				{% endif %}
				{% if messages.errors is not empty %}
					<div class="error">
						<p><strong>Errors :</strong></p>
						<ul>
						{% for error in messages.errors %}
							<li>{{ error }}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% endblock %}

			</div>
		</div>
		<div id="main-menu">
			{% block menus %}
			{% form 'search-menu' with {'id':'search-menu'} %}
				<p> {{ form_field('q',{'size':30},{'labelclass':'hidden'}) }} 
					{{ form_field('ok') }}
				</p>
			{% endform %}
			{% for menu in menus %}
			{% if menu.items is not empty %}
			<div id="{{menu.id}}">
				{% if menu.title is not empty %}<h3>{{menu.title}}</h3>{% endif %}
				<ul>
				{% for item in menu.items %}
				{% spaceless %}
				<li {% if item.active or item.class is not empty %} class="{% if item.active %}active {% endif %}{{item.class}}"{% endif %}
				{% if item.id is not empty %}id="{{item.id}}" {% endif %}
				{% if item.img is not empty %} style="background-image: url({{item.img}});"{% endif %}
				><a href="{{item.link}}"{{item.ahtml}}>{{item.title}}</a>
				{% if loop.last %}{{menu.separator}}{% endif %}</li>
				{% endspaceless %}
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% endfor %}
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			<p>{{ __('Thank you for using %s.')|format(vendor_name) }}</p>
			{% endblock %}
		</div>
	</div>
	{#{% block debug %}
	  {% set debug_info = debug_info() %}
	  {% if debug_info is not empty %}
		<div id="debug"><div>
		<p>memory usage: {{ debug_info.memory.usage }} ({{ debug_info.memory.size }})</p>
		{% if debug_info.xdebug is not empty %}
		  <p>Elapsed time: {{ debug_info.xdebug.elapse_time }} seconds</p>
		  {% if debug_info.xdebug.profiler_file is not empty %}
			<p>Profiler file : {{ debug_info.xdebug.profiler_file }}</p>
		  {% else %}
			<p><a href="{{ debug_info.xdebug.profiler_url }}">Trigger profiler</a></p>
		  {% endif %}
		{% endif %}
		<p>Global vars: {{ debug_info.global_vars }}</p>
		</div></div>
	  {% endif %}
	{% endblock %}#}
	</body>
</html>