{% import "js_helpers.html.twig" as js %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{current_user.lang}}" lang="{{current_user.lang}}">
<head>
	{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}{{page_title}} - {% if current_blog.name is not empty %}{{current_blog.name}} - {% endif %}{{vendor_name}} - {{version}}{% endblock %}</title>
	<meta name="ROBOTS" content="NOARCHIVE,NOINDEX,NOFOLLOW" />
	<meta name="GOOGLEBOT" content="NOSNIPPET" />
	<link rel="stylesheet" href="{{theme_url}}style/default.css" type="text/css" media="screen" />
	{% if rtl is not empty %}
	<link rel="stylesheet" href="{{theme_url}}style/default-rtl.css" type="text/css" media="screen" />
	{% endif %}
	{{ js.load_IE7 }}
	{{ js.common }}
	{% endblock %}
	{% block more_header %}{% endblock %}
</head>

<body id="dotclear-admin">
	<div id="header">
		<ul id="prelude">
			<li><a href="#content">{{__('To content')}}</a></li>
			<li><a href="#main-menu">{{__('To menu')}}</a></li>
		</ul>
		<div id="top"><h1><a href="index.php">{{vendor_name}}</a></h1></div>
		<div id="info-boxes">
			<div id="info-box1">
			  {% form switchblog_menu %}
				{% if blog_count > 1 and blog_count < 20 %}
					{{ form_field('switchblog') }}
					<noscript><div>{{ form_field('switchblog_submit') }}</div></noscript>
				{% else %}
					{{__('Blog:')}} <strong title="{{current_blog.url}}">{{current_blog.name}}</strong>
					{% if blogs is not empty %} - <a href="blogs.php">{{__('Change blog')}}</a>{% endif %}
				{% endif %}
				<a href="{{current_blog.url}}" onclick="window.open(this.href);return false;" title="{{__('Go to site')}} ({{__('new window')}})">{{__('Go to site')}} <img src="{{theme_url}}images/outgoing.png" alt="" /></a>
			  {% endform %}
			</div>
			<div id="info-box2">
				<a {%if current_page == 'index' %}class="active" {% endif %}href="index.php">{{__('My dashboard')}}</a><span> | </span>
				<a {%if current_page == 'preferences' %}class="active" {% endif %}href="preferences.php">{{__('My preferences')}}</a><span> | </span>
				<a href="index.php?logout=1" class="logout">{{__('Logout %s')|format(current_user.id)}} <img src="images/logout.png" alt="" /></a>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="main">
			<div id="content">
				{% block content %}
				<h2>{{current_blog.name}} &rsaquo; <span class="page-title">{{page_title}}</span></h2>
				{% if page_message is not empty %}
					<p class="message">{{page_message}}</p>
				{% endif %}
				{% if page_errors is not empty %}
					<div class="error">
						<p><strong>Errors :</strong></p>
						<ul>
						{% for error in page_errors %}
							<li>{{error}}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% endblock %}

			</div>
		</div>
		<div id="main-menu">
			{{ page_menu() }}
		</div>
		<div id="footer">
			{% block footer %}
			<p>{{ __('Thank you for using %s.')|format(vendor_name) }}</p>
			{% endblock %}
		</div>
	</div>
	</body>
</html>