{% import "js_helpers.html.twig" as js %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{current_user.lang}}" lang="{{current_user.lang}}">
<head>
	{% block header %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}{{page_title}} - {% if current_blog.name is not empty %}{{current_blog.name}} - {% endif %}{{vendor_name}} - {{version}}{% endblock %}</title>
	<meta name="ROBOTS" content="NOARCHIVE,NOINDEX,NOFOLLOW" />
	<meta name="GOOGLEBOT" content="NOSNIPPET" />
	<link rel="stylesheet" href="{{theme_url}}style/default.css" type="text/css" media="screen" />
	{% if rtl is not empty %}
	<link rel="stylesheet" href="{{theme_url}}style/default-rtl.css" type="text/css" media="screen" />
	{% endif %}
	{{ js.load_IE7 }}
	{{ js.common }}
	{% endblock %}
</head>

<body id="dotclear-admin" class="popup">
	<div id="top"><h1>{{ vendor_name }}</h1></div>
	<div id="wrapper">
		<div id="main">
			<div id="content">
				{% block content %}
				<h2>{{current_blog.name}} &rsaquo; <span class="page-title">{{page_title}}</span></h2>
				{% if page_message is not empty %}
					<p class="message">{{page_message}}</p>
				{% endif %}
				{% if page_errors is not empty %}
					<div class="error">
						<p><strong>Errors :</strong></p>
						<ul>
						{% for error in page_errors %}
							<li>{{error}}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% endblock %}
			</div>
		</div>
		<div id="footer">
			{% block footer %}
			<p>&nbsp;</p>
			{% endblock %}
		</div>
	</div>
	</body>
</html>